<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">שינוי סיסמא</h4>
                </div>
                <form name="passForm" ng-submit="submitForm(passForm.$valid)" novalidate>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : passForm.oldPass.$invalid && !PassForm.oldPass.$pristine }">
                            <label>Old Password</label>
                            <input type="password" name="oldPass" class="form-control" ng-model="userPassForm.oldPass" required>
                            <p ng-show="passForm.oldPass.$invalid && !PassForm.oldPass.$pristine" class="help-block">You old password is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : passForm.newPass.$invalid && !PassForm.newPass.$pristine }">
                            <label>New Password</label>
                            <input type="password" name="newPass" class="form-control" ng-model="userPassForm.newPass" ng-minlength="4" ng-maxlength="12" required>
                            <p ng-show="passForm.newPass.$error.minlength" class="help-block">Password is too short.</p>
                            <p ng-show="passForm.newPass.$error.maxlength" class="help-block">Will you remember that ?!</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userPassForm.newPass!=userPassForm.newPassAgain }">
                            <label>New Password (Again...)</label>
                            <input type="password" name="newPassAgain" class="form-control" ng-model="userPassForm.newPassAgain" required>
                            <p ng-if="userPassForm.newPass!=userPassForm.newPassAgain" class="help-block">Passwords do not match</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="passForm.$invalid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
